<%= render 'trips/add_trip' %>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <% if @trips.present? %>
        <%= render(@trips) %>
      <% else %>
        <h4><%= "Click on the button with the plus icon above to add your first trip." %></h4>
      <% end %>
    </div>
  </div>
</div>
