<%= render partial: 'trips/trip_info', locals: {trip: @trip} %>
<br>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Expenses</h3>
    </div>
    <div class="panel-body">
      <%= render partial: 'trips/add_expense', locals: {trip: @trip} %>
      <%= render partial: 'trips/expenses_table', locals: {trip: @trip} %>
    </div>
  </div>
</div>
