<%= link_to "#", class: 'btn btn-default btn-sm', 'data-toggle'=>'modal', 'data-target'=>"#addPaidDebtToModal_#{expense.id}" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>PAID DEBT TO</strong>
<% end %>
