<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Keep track of your expenses while traveling</h1>
    <br>
  </div>
  <br>
  <div class="col-md-6">
    <%= render 'home/signup' %>
    <br>
  </div>
  <div class="col-md-6">
    <dl>
      <dt><h4>With TravelBudget you can:</h4></dt>
      <dd>
        <ul>
          <li>Track your daily, weekly and monthly travel expenses</li>
          <li>Set your default currency and exchange rate</li>
          <li>Create a trip to any city around the world with local currency</li>
          <li>View expenses in default and local currency</li>
          <li>Track your expenses by category such as food, activities or transportation</li>
          <li>Share, split and compare expenses with your travel friends</li>
          <li>Keep track of debts and credits with other TravelBudget users</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
