<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Keep track of your expenses while traveling</h1>
    <br>
  </div>
  <br>
  <div class="col-md-6">
    <%= render 'home/signup' %>
    <br>
  </div>
  <div class="col-md-6">
    <dl>
      <dt><h4>With TravelBudget you can:</h4></dt>
      <dd>
        <ul>
          <li>Keep track of how much you are spending daily, weekly and montly</li>
          <li>Set your default currency</li>
          <li>Create your trip to a city with the exactly currency of the country</li>
          <li>Share your trip with your friends</li>
          <li>See in which kind of things you are spend more money, ex: Food, Drinks, etc</li>
          <li>Set a specific exchange rate</li>
          <li>Compare how much your friends are spending</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
