<footer class="footer navbar-fixed-bottom">
  <small class="text-center">
    <p>
      <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016 TravelBudget. All rights reserved.
    </p>
  </small>
</footer>
