<footer class="footer">
  <small class="text-center">
    <p>
      <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016 TravelBudget. All rights reserved. Created by <%= link_to 'rmonteiro.me', 'http://www.rmonteiro.me/' %>.
    </p>
  </small>
</footer>
